@font-face {
    font-family: 'bebasregular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "Social Media Icons";
  src: url('font/social-media-icons.eot');
  src: url('font/social-media-icons.eot?#iefix') format('eot'),
  	   url('font/social-media-icons.woff') format('woff'),
  	   url('font/social-media-icons.ttf') format('truetype'),
  	   url('font/social-media-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal; 
}

/* No Prefix */

@keyframes bubblerise1 {
  0% {right: 40%; bottom: 60px; width: 20px;} 
  20% {right: 45%; bottom: 140px; width: 23px;}
  40% {right: 40%; bottom: 220px; width: 26px;}
  60% {right: 35%; bottom: 300px; width: 30px;}
  80% {right: 40%; bottom: 380px; width: 40px;}
  100% { right: 45%; bottom: 500px; width: 50px;}
}

@keyframes bubblerise2 {
  0% {right: 40%; bottom: 60px; width: 20px;} 
  20% {right: 35%; bottom: 140px; width: 23px;}
  40% {right: 40%; bottom: 220px; width: 30px;}
  60% {right: 45%; bottom: 300px; width: 35px;}
  80% {right: 40%; bottom: 380px; width: 40px;}
  100% { right: 35%; bottom: 500px; width: 50px;}
}

/* Webkit */
@-webkit-keyframes bubblerise1 {
  0% {right: 40%; bottom: 60px; width: 20px;} 
  20% {right: 45%; bottom: 140px; width: 23px;}
  40% {right: 40%; bottom: 220px; width: 26px;}
  60% {right: 35%; bottom: 300px; width: 30px;}
  80% {right: 40%; bottom: 380px; width: 40px;}
  100% { right: 45%; bottom: 500px; width: 50px;}
}

@-webkit-keyframes bubblerise2 {
  0% {right: 40%; bottom: 60px; width: 20px;} 
  20% {right: 35%; bottom: 140px; width: 23px;}
  40% {right: 40%; bottom: 220px; width: 30px;}
  60% {right: 45%; bottom: 300px; width: 35px;}
  80% {right: 40%; bottom: 380px; width: 40px;}
  100% { right: 35%; bottom: 500px; width: 50px;}
}

/* mozilla */
@-moz-keyframes bubblerise1 {
  0% {right: 40%; bottom: 60px; width: 20px;} 
  20% {right: 45%; bottom: 140px; width: 23px;}
  40% {right: 40%; bottom: 220px; width: 26px;}
  60% {right: 35%; bottom: 300px; width: 30px;}
  80% {right: 40%; bottom: 380px; width: 40px;}
  100% { right: 45%; bottom: 500px; width: 50px;}
}


@-moz-keyframes bubblerise2 {
  0% {right: 40%; bottom: 60px; width: 20px;} 
  20% {right: 35%; bottom: 140px; width: 23px;}
  40% {right: 40%; bottom: 220px; width: 30px;}
  60% {right: 45%; bottom: 300px; width: 35px;}
  80% {right: 40%; bottom: 380px; width: 40px;}
  100% { right: 35%; bottom: 500px; width: 50px;}
}


*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

#water {
	position: relative;
	width: 100%;
	padding: 20px 0 35% 0;
	height: 350px;
	overflow: visible;
}

.cssgradients #water {
	background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #003366 0%, #000000 100%);
	background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #003366 0%, #000000 100%);
	background-image: -o-radial-gradient(center bottom, circle farthest-corner, #003366 0%, #000000 100%);
	background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #003366), color-stop(1, #000000));
	background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #003366 0%, #000000 100%);
	background-image: radial-gradient(circle farthest-corner at center bottom, #003366 0%, #000000 100%);
}

.no-cssanimations #water {
	background-image: url(ie-bg.png);
	background-position: center bottom;
	background-size: cover;
}

#water:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -40px;
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 30px solid #036;
}

#logo-container {
	position: absolute;
	left: 50%;
	bottom: 10%;
	width: 20%;
	min-width: 250px;
	margin-left: -145px;
}

#logo {
	position: relative;
	right: 3%;
	width: 100%;
	max-width: 100%;
	display: block;
}

#heading {
	font-family: 'bebasregular';
	text-align: center;
	color: #024;
	margin: 30px 0 0 0;
	font-size: 60px;
}

#subheading {
  font-family: 'bebasregular';
  text-align: center;
  color: #024;
  margin: 0 0 20px 0;
  font-size: 40px;
}

#mc_embed_signup {
	text-align: center;
}

#mce-EMAIL,
#mc-embedded-subscribe {
	font-size: 30px;
	padding: 10px 20px;
	font-family: 'bebasregular';
	color: #666;
	border-radius: 0;
	-webkit-appearance:none;
}

input::-moz-placeholder {
	line-height: 40px; /* Firefox fix */
}

#mce-EMAIL {
	border: solid 2px #ccc;
	box-shadow: inset 10px 10px 25px -11px #ccc;	
}

#mce-EMAIL:focus {
	box-shadow: none;
}

#mc-embedded-subscribe {
	background-color: #eee;
}

#bubble1,
#bubble2,
#bubble3,
#bubble4,
#bubble5 {
	display: none;
}

#diver-bubble-static {
	position: absolute;
	z-index: 10;
	right: 30%;
	bottom: 60px;
}

.cssanimations #diver-bubble-static { 
	display: none;
}

.cssanimations #bubble1,
.cssanimations #bubble2,
.cssanimations #bubble3,
.cssanimations #bubble4,
.cssanimations #bubble5 {
	z-index: 10;
	display: block;
}

.cssanimations #bubble1 {
  
  opacity: 0.8;  
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation:bubblerise1 15s linear 0 infinite;
  -ms-animation:bubblerise1 15s linear 0 infinite;
  animation:bubblerise1 15s linear 0 infinite;
  -moz-animation-name: bubblerise1;  /* Firefox does not like shorthand */
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble2 {
  opacity: 0.8;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation:bubblerise2 15s linear -8s infinite;
  -ms-animation:bubblerise2 15s linear -8s infinite;
  animation:bubblerise2 15s linear -8s infinite;
  -moz-animation-name: bubblerise2;  /* Firefox does not like shorthand */
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble3 {
  opacity: 0.5;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation:bubblerise1 13s linear 2s infinite;
  -ms-animation:bubblerise1 13s linear 2s infinite;
  animation:bubblerise1 13s linear 2s infinite;
  -moz-animation-name: bubblerise1;  /* Firefox does not like shorthand */
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble4 {
  opacity: 0.5;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation:bubblerise2 17s linear -14s infinite;
  -ms-animation:bubblerise2 17s linear -14s infinite;
  animation:bubblerise2 17s linear -14s infinite;
  -moz-animation-name: bubblerise2;  /* Firefox does not like shorthand */
  -moz-animation-duration: 17s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble5 {
  opacity: 0.5;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation:bubblerise1 17s linear -6s infinite;
  -ms-animation:bubblerise1 17s linear -6s infinite;
  animation:bubblerise1 17s linear -6s infinite;
  -moz-animation-name: bubblerise1;  /* Firefox does not like shorthand */
  -moz-animation-duration: 17s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

#social {
	text-align: center;
	margin-top: 30px;
}

.icon {
	position: relative;
	color: #ccc;
	display: inline-block;
	text-decoration: none;
	font-size: 80px;
	line-height: 1;
	transition: color 800ms;
}

.icon:hover {
	color: #666;	
}

.icon-twitter:before,
.icon-google:before, 
.icon-facebook:before,
.icon-drupal:before {
	font-family: 'Social Media Icons';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.icon-twitter:before {
	content: "\e000";
}

.icon-facebook:before {
	content: "\e003";
}

.icon-google:before {
	content: "\e002";
}

.icon-drupal:before {
	content: "\e005";
}

#footer {
  margin: 20px 0;
  text-align: center;
}

#footer a {
  color: #999;
  font-family: 'arial narrow', arial, helvetica;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 5px;
}

#footer a:hover {
  color: #666;
}

@media all and (min-width: 1250px) {

	#water {
		padding-bottom: 25%;
	}
	#logo-container {
		margin-left: -11%;
	}

}

@media all and (max-width: 767px) {

	#water {
		height: 260px;
	}
	#logo-container {
		bottom: 0;
	}
	#heading {
		font-size: 50px;
	}	
	#mce-EMAIL,
	#mc-embedded-subscribe {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}

}


@media all and (max-width: 380px) {
	
	#heading {
		font-size: 40px;
	}

  #subheading {
    font-size: 30px;
  }

	.icon {
		width: 34%;
	}
}