.z-description {
  text-align: center;
  font-size: 27px;
  max-width: 750px;
  margin: 40px auto;
  color: $blue;
  font-weight: lighter;

  @include breakpoint($tablet_narrow) {
    padding-bottom: 80px;
  }

  @include breakpoint($normal) {
    margin: 80px auto;
  }
}
