/* =============================================================================
    Preface Region and featured speakers
   ========================================================================== */
$preface-break: $tablet_narrow;

.zone.z-preface {

  @include breakpoint($preface-break) {
    margin: 21% 0 0 0;
  }

  .l-region--preface {
    padding: 0;

    @include breakpoint($preface-break) {
      margin: -28% 0 10px 0;
    }
  }

  h2 {
    @include breakpoint(max-width $preface-break) {
      color: white;
      padding: 0 20px;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    @include breakpoint($preface-break) {
      display: flex;
      justify-content: space-between;
    }
  }

  .speaker {
    margin: 40px 0;
    padding: 0 20px;
    list-style-type: none;
    color: white;

    @include breakpoint($preface-break) {
      margin: 0;
      padding: 0;
      width: 30%;
    }
  }

  .speaker-name {
    color: inherit;
  }

  .speaker-bio {
    font-size: 16px;

    @include breakpoint($normal) {
      font-size: 20px;
    }
  }
}
