/* =============================================================================
    Front Hero
   ========================================================================== */

.hero-teaser {
  text-align: center;
  padding: 20px 20px 30px 20px;
  color: white;
  border: solid 2px white;

  @include breakpoint($tablet_wide) {
    position: absolute;
    width: 50%;
    @include center;
  }
}

.hero-title {
  line-height: 1.2;
  display: inline-block;
  font-size: 55px;
  color: white;
  margin-top: 0;
  border-bottom: solid 1px white;
  -webkit-text-stroke: 1px white;

  a {
    color: inherit;

    &:link,
    &:visited {
      color: inherit;
    }
  }

  @include breakpoint($smartphone_wide) {
    font-size: 65px;
  }

  @include breakpoint($tablet_wide) {
    font-size: 55px;
  }

  @include breakpoint($normal) {
    font-size: 60px;
  }

  @include breakpoint($wide) {
    font-size: 70px;
  }
}

h2 {
  font-size: 30px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: $orange;

  @include breakpoint($smartphone_wide) {
    line-height: 1.5;
  }

  @include breakpoint($wide) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

a.hero-button {
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.date {
  display: block;
  font-size: 35px;

  @include breakpoint($smartphone_wide) {
    display: inline;
    font-size: 30px;

    &:after {
      content: " | "
    }
  }

  @include breakpoint($wide) {
    font-size: inherit;
  }
}

.loc {
  display: block;

  @include breakpoint($smartphone_wide) {
    display: inline;
  }
}
  // Social Media

.icon {
  color: #fff;
  font-size: 50px;
}

.icon:hover {
  color: $yellow;
}
