/* =============================================================================
    Front Hero
   ========================================================================== */

$video-break: $tablet_narrow;

.z-header {
  @include breakpoint(max-width $video-break) {
    background-image: url(../images/auditorium_blur-tablet_narrow.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    min-height: 500px;

    video {
      display: none;
    }
  }

  video {
    width: 100%;
  }
}

.hero-teaser {
  text-align: center;
  padding: 0;
  color: white;
  position: absolute;
  border: solid 2px white;
  padding: 20px 20px 40px 20px;
  background: rgba(0,0,0,0.2);
  width: 90%;
  @include center;

  @include breakpoint($video-break) {
    background: transparent;
  }

  @include breakpoint($tablet_narrow) {
    width: 70%;
  }

  @include breakpoint($tablet_wide) {
    width: 50%;
  }
}

.hero-title {
  line-height: 1.2;
  display: inline-block;
  font-size: 50px;
  color: white;
  margin-top: 0;
  border-bottom: solid 1px white;
  -webkit-text-stroke: 1px white;

  a {
    color: inherit;

    &:link,
    &:visited {
      color: inherit;
    }
  }

  @include breakpoint($normal) {
    font-size: 60px;
  }

  @include breakpoint($wide) {
    font-size: 70px;
  }
}

h2 {
  font-size: 30px;
  margin: 0 0 20px;
  line-height: 1.2;
  color: $orange;

  @include breakpoint($smartphone_wide) {
    line-height: 1.5;
  }

  @include breakpoint($wide) {
    font-size: 40px;
  }
}

a.hero-button {
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;

  @include breakpoint($tablet_narrow) {
    font-size: 50px;
  }
}

.date {
  display: block;
  font-size: 35px;

  @include breakpoint($smartphone_wide) {
    display: inline;
    font-size: 30px;

    &:after {
      content: " | "
    }
  }

  @include breakpoint($wide) {
    font-size: inherit;
  }
}

.loc {
  display: block;

  @include breakpoint($smartphone_wide) {
    display: inline;
  }
}
  // Social Media

.icon {
  color: #fff;
  font-size: 50px;
}

.icon:hover {
  color: $yellow;
}
