
.hero-game {
  display: none;
  position: absolute;
  @include center;

  .js-show-game & {
    display: block;
  }
}

.js-show-game {
  &:after {
    content: "Press ESC to Cancel";
    position: absolute;
    bottom: 5px;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    text-align: right;
    max-width: 1500px;
    left: 50%;
    transform: translatex(-50%);
  }
}

#left-controls {
  position:absolute;
  left:1px;
  bottom:0px;
  display:none;
}

#right-controls {
  position:absolute;
  right:1px;
  bottom:0px;
  display:none;
}

#up {
  width:200px;
  height:100px;
  bottom:100px;
}

#left {
  width:100px;
  height:100px;
  bottom:0px;
}
#right {
  width:100px;
  height:100px;
  bottom:0px;
  left:100px;
}

#space {
  width:200px;
  height:200px;
  bottom:0px;
  right:0px;
}
