/* =============================================================================
    Preface Region and featured speakers
   ========================================================================== */

.zone.z-preface {
  h2 {
    margin: 20px 0;
    font-size: 50px;
    line-height: 1;
    color: white;
    text-align: center;
    @include breakpoint($tablet_narrow) {
      font-size: 38px;
    }
    @include breakpoint($tablet_wide) {
      font-size: 45px;
    }
    @include breakpoint($normal) {
      font-size: 41px;
    }
  }
  li,
  ul {
    padding: 0;
    list-style-type: none;
  }
  .speaker {
    text-align: center;
    margin-bottom: 50px;
    @include breakpoint($tablet_narrow) {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      @include transition(all .3s ease .1s);
    }
    @include breakpoint($normal) {
      width: 33%;
      padding: 20px;
      /* Speaker 'Pop' effect */
      .csstransforms & {
        @include breakpoint(max-height 800px) { // Only show the pop if height is less than 800px
          @include transform(scale(.5, .5));
          //@include transition(scale .3s ease 0, margin-top .2s ease 0);
          &:first-child {
            @include transition(all .3s ease .1s, transform .2s ease 0);
          }
          &:nth-child(2) {
            @include transition(all .3s ease .2s, transform .2s ease 0);
          }
          &:nth-child(3) {
            @include transition(all .3s ease .3s, transform .2s ease 0);
          }
          &:nth-child(4) {
            @include transition(all .4s ease .4s, transform .2s ease 0);
          }
        }
      }
      .csstransforms &.scroll-down {
        @include transform(scale(1, 1));
      }
      // End $normal breakpoint
    }
    &:hover {
      @include transform(scale(1, 1) translatey(-10px) !important); // Dirty dirty
      .speaker-name {
        color: #333;
      }
      .speaker-desc {
        color: #333;
      }
    }
    .speaker-image-wrapper {
      border-radius: 50%;
      border: 5px solid $orange;
      background-color: $orange;
      max-width: 90%;
      margin: 0 auto;
      display: inline-block;
      @include breakpoint($tablet_narrow $normal) {
        max-width: 70%; // Make the featured speaker images a bit smaller at tablet widths
      }
    }
    img {
      border-radius: 50%;
      background-color: $orange; // Fixes a bug where a bit of blue line shows up between the border and mystery speaker image.
      display: block;
      @include transition(all .8s);
    }

    // End .speaker
  }
  .speaker-name {
    margin: 10px 0 0 0;
    color: #fff;
    @include transition(color .8s);
  }
  .speaker-desc {
    margin: 0;
    color: #666;
    font-size: 20px;
    line-height: 1.5;
    @include transition(color .8s);
    @include breakpoint($normal) {
      padding: 0 5px;
    }
  }
}


