/* =============================================================================
    Sponsors (Front page, Sponsors page, and block)
   ========================================================================== */

$sponsor-flip-effect: $normal;
$sponsor-mobile-transition: $tablet_narrow;

.view-sponsors {
  ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;

    @include breakpoint($normal) {
      width: 80%
    }
  }

  &.view-display-id-page_1 {
    padding-top: 50px; // a little top padding for the first display
  }

  h1 {
    text-align: center;
  }

  .wrap {
    padding: 20px;
    list-style: none;
    position: relative;
    width: 100%;

    img {
      max-width: 60%;
      max-height: 140px;
      width: auto;
      height: auto;

      @include breakpoint($tablet_narrow $normal) {
        max-width: 90%;
        max-height: 90%;
      }
    }


    @include breakpoint($sponsor-mobile-transition) {
      display: inline-block;
      margin: 0 0 4px 0;
      max-width: 24%;
      height: 0;
      padding-top: 18%;
    }
  }

  a {
    @include breakpoint($sponsor-mobile-transition) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    @include breakpoint($sponsor-flip-effect) {
      @include perspective(1000px);

      &:hover,
      &:focus {
        .wrap-front {
          transform: rotatex(180deg);
        }

        .wrap-back {
          transform: rotatex(0);
        }
      }
    }
  }

  .wrap-front,
  .wrap-back {
    @include breakpoint($sponsor-mobile-transition) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
    }

    @include breakpoint($sponsor-flip-effect) {
      @include transform-style(preserve-3d);
      @include transition(all .3s);
      @include backface-visibility(hidden);
    }
  }

  .wrap-front {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint($sponsor-mobile-transition) {
      background-color: #fafafa;
    }
  }

  .wrap-back {
    display: none; // hide for mobile
    line-height: 1.2;
    font-size: 13px;

    @include breakpoint($sponsor-flip-effect) {
      display: block; // Show for desktop
      background-color: $blue;
      color: white;
      transform: rotatex(-180deg);
    }

    h3 {
      font-size: 20px;
      color: inherit;
    }
  }
}

// Heading Tags

.sponsor-platinum {
  color: #666;
}

.sponsor-gold {
  color: darken(gold, 5%);;
}

.sponsor-silver {
  color: #999;
}

.sponsor-bronze {
  color: darken(gold, 20%);
}


/* =============================================================================
    Sponsors Block
   ========================================================================== */

#block-views-sponsors-block-block-1 {
  ul {
    padding: 0;
  }

  li {
    padding: 10px;
    margin: 0;
    display: inline-block;
    width: 48%;
  }

  h1 {
    @extend h2;
  }
}
