/* =============================================================================
    Sponsors (Front page, Sponsors page, and block)
   ========================================================================== */

.view-sponsors {
  // Tricky sneak to shrink everything
  @include transform(scale(0.8));

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  &.view-display-id-page_1 {
    padding-top: 50px; // a little top padding for the first display
  }
  h1 {
    text-align: center;
  }
  .wrap {
    margin-bottom: 20px;
    padding: 20px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    @include breakpoint($normal) {
      height: 250px;
    }
    img {
      max-width: 100%;
      max-height: 140px;
      width: auto;
      margin: 0 auto; // Necessary so logo images will horiz center within div
      @include breakpoint($normal) {
        position: absolute;
        @include backface-visibility(hidden);
        @include center(xy);
      }
    }
    @include breakpoint($tablet_narrow) {
      margin: 0 0 4px 0;
      max-width: 24%;
    }
    @include breakpoint($normal) {
      padding: 0;
      @include perspective(1000px);
      .csstransforms3d &:hover a, // Only show transforms to browsers can support them
      .csstransforms3d &:focus a {
         @include transform(rotatex(180deg));
      }

      /* disable turn-around effect for IE */
      .no-csstransforms3d &:hover a,
      .no-csstransforms3d &:focus a,
      .ie10 &:hover a,
      .ie10 &:focus a,
      .ie11 &:hover a,
      .ie11 &:focus a  {
         @include transform(rotatex(0deg));
         @include backface-visibility(hidden); // ie
      }
    }
    // End breakpoint($normal)
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
    color: #666;
    background: #fafafa;
    @include breakpoint($normal) {
      @include transform-style(preserve-3d);
      @include transition(.3s);
    }
  }
  .wrap-front,
  .wrap-back {
    display: block;
    @include breakpoint($normal) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      @include backface-visibility(hidden);
    }
  }
  .wrap-back {
    display: none; // Hide from old browsers
    @include breakpoint($normal) {
      background-color: $blue;
      border-radius: 3px;
      line-height: 1.3;
      color: white;
      .csstransforms3d & {
        @include transform(rotatex(180deg));
        display: block;
      }
      .wrap:hover & {
         @include transform(rotatex(180deg));
      }
    }

    h3 {
      color: inherit;
    }
  }
  h3 {
    line-height: 1; // Necessary for FF
  }


  // // Width and height styling for different sponsorship levels
  // @include breakpoint($normal) {
  //   .view-content .wrap-front { // Platinum
  //     width: 90%;
  //     max-width: 350px;
  //     height: 200px;
  //   }
  //   .view-display-id-attachment_1 { // Gold
  //     .wrap {
  //       max-width: 24%;
  //     }
  //     .wrap-front {
  //       width: 80%;
  //       max-width: 250px;
  //       height: 200px;
  //     }
  //     h3 {
  //       font-size: 1.5em;
  //     }
  //   }
  //   .view-display-id-attachment_2 { // Silver
  //     .wrap {
  //       max-width: 24%;
  //     }
  //     .wrap-front {
  //       width: 80%;
  //       max-width: 200px;
  //       height: 170px;
  //     }
  //     h3 {
  //       font-size: 1.5em;
  //     }
  //   }
  //   .view-display-id-attachment_3,  // Bronze
  //   .view-display-id-attachment_4 { // In Kind
  //     .wrap {
  //       max-width: 24%;
  //     }
  //     .wrap-front {
  //       width: 80%;
  //       max-width: 150px;
  //       height: 150px;
  //     }
  //     h3 {
  //       font-size: 1.2em;
  //     }
  //   }
  // }
  // /#Sponsors
}

// Heading Tags

.sponsor-platinum {
  color: #666;
}
.sponsor-gold {
  color: darken(gold, 5%);;
}
.sponsor-silver {
  color: #999;
}
.sponsor-bronze {
  color: darken(gold, 20%);
}

/* =============================================================================
    Sponsors Block
   ========================================================================== */

#block-views-sponsors-block-block-1 {
  ul {
    padding: 0;
  }
  li {
    padding: 10px;
    margin: 0;
    display: inline-block;
    width: 48%;
    vertical-align: middle;
  }
  h1 {
    @extend h2;
  }
}


