/* =============================================================================
    User Profile
   ========================================================================== */

.user-profile {
	.field--name-field-user-first-name,
	.field--name-field-user-last-name {
		@extend h2;
		display: inline;
		div {
			display: inline;
		}
		&:after {
			content: " ";
		}
	}
}
