/* =============================================================================
    Sessions Views (Accepted and Proposed)
   ========================================================================== */

.view-session-list {
	.propose-session {
    background-color: #fafafa;
		font-size: 35px;
		padding: 20px;
		margin-top: 10px;
		@include breakpoint($tablet_narrow) {
			margin-top: 0;
		}
	}
	.views-exposed-form {
		input[type="submit"] {
			font-size: 25px;
		}
	}
	.views-exposed-widget {
		@include breakpoint($tablet_narrow) {
			max-width: 33%;
		}
	}
	.views-row {
		margin-bottom: 50px;
		> .speaker,
		> .experience,
		> .track {
			font-size: 1.2em;
			&:before {
				font-family: FontAwesome;
				display: inline-block;
				width: 20px;
			}
		}
		> .speaker {
			&:before {
				content: "\f007";
			}

		}
		> .experience {
			&:before {
				content: "\f135";
			}

		}
		> .track {
			&:before {
				content: "\f02e";
			}

		}
		> .views-field-body {
			margin: 20px 0;
		}
	}

	// Expand Sessions when read-more button is pressed
	.expandable .views-field-body {
		max-height: 200px;
		overflow: hidden;
		position: relative;
		@include transition(all .5s);
		&:after {
			background: linear-gradient(to top, #fff, rgba(255,255,255,0));
			display: block;
			height: 75px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			content: "";
		}
	}
	.expandable-expanded .views-field-body {
		max-height: 1000px;
		&:after {
			background: none;
		}
	}
	.read-more {
		@extend button;
		cursor: pointer;
		font-size: 25px;
		padding: 0px 20px 0px 10px;
		text-align: center;
		max-width: 175px;
		margin: 0 auto;
		&:before {
			font-family: FontAwesome;
			content: "\f078";
			display: inline-block;
			margin-right: 10px;
		}
		&:after {
			display: inline;
			content: "Read More";
		}
		&.read-more-processed:before {
			content: "\f077";
		}
		&.read-more-processed:after {
			display: inline;
			content: "Read Less";
		}
		@include breakpoint($tablet_narrow) {
			display: inline-block;
			margin: 0;
			font-size: 20px;
			text-align: left;
			max-width: 100%;
		}
	}

}
