
/* =============================================================================
    Branding
   ========================================================================== */

h1.site-name {
  display: inline-block;
  text-align: left;
  line-height: 60px;
  height: 60px; // So the logo will overflow the background
  margin: 0;
  //background-color: $black; // Necessary so bubbles go behind in mobile
  z-index: 10; // Necessary so bubbles go behind in mobile
  //position: fixed; // Necessary so bubbles go behind in mobile
/*   width: 100%; */
  top: 0;
  
  @include breakpoint($smartphone_wide) {
    position: relative;
  }
  
  @include breakpoint($tablet_narrow) {
    font-size: 45px;
    /* background-color: rgba(0,0,0,0.9); */
  }
  
  @include breakpoint($mobile-nav) {
    width: auto;
    display: inline-block;
    line-height: 100px;
    font-size: 42px;
    //height: 100px;
    z-index: 20;
    @include transition(line-height, 0s);
    &.scroll-down {
      line-height: 60px;
      @include transition(line-height, .2s);
    }
  }
  
  @include breakpoint(1000px) {
    font-size: 48px;
  }
  
  @include breakpoint($normal) {
    font-size: 55px;
    margin: 0 auto;
  }
  
  @include breakpoint($wide) {
    font-size: 65px;
  }
  
  a {
    
    display: inline-block;
    text-indent: -9999px;
    background-image: image-url("drupal-diver_small.png");
    width: 90px;
    height: 80px;
    background-size: contain;   
    background-repeat: no-repeat;   
    color: $orange;
    padding: 0;
    position: relative;
    left: 0;
    z-index: 10;
    background-position-y: -12px;
    &:after {
      content: "#FLDC15";
      position: absolute;
      top: 0;
      left: 100%;
      text-indent:0
    }
    
    @include breakpoint($tablet_narrow) {
      text-indent: 90px;
      margin-left: 0;
      margin-right: 0;
      width: auto;
      height: 80px;
      
      &:after {
        content: "";
      }
    }
    
    @include breakpoint($tablet_wide) {
      left: -20px;
      background-position-y: 0;
    }
    
    &:hover {
      color: lighten($orange, 10%);
    }
  }
  
  .front & {
    a {
      @include breakpoint($tablet_narrow) {
        margin: 0 0 0 10px;
        text-indent: 0;
        background-image: none;
        width: auto;
        height: auto;
        display: inline;
        left: 0;
      }
    }
  }
}

.site-logo {
  display: none;
  @include breakpoint($tablet_narrow) {
    display: inline-block;
    position: relative;
    width: 70%;
    left: 45%;
    @include transform(translatex(-50%));
  }
  @include breakpoint($tablet_wide) {
    position: absolute;
    @include center(y);
    left: 4%;
    width: 40%;
    max-width: 550px;
  }
  @include breakpoint($normal) {
    left: 0;
    width: 45%;
  }
  @include breakpoint($wide) {
    width: 100%;
  }
}