

/* =============================================================================
    The checkout process
   ========================================================================== */

/* Make the messages look correct */
.checkout-help {
	@extend .messages;
	@extend .messages--status;
}

.checkout-completion-message {
	font-size: 1.2em;
}

.section-cart td  {
	font-size: 1.2em;
}
.line-item-summary {
	font-size: 1.5em;
	margin: 20px 0;
}

/* All fieldsets within the checkout process */
.page-checkout {
	fieldset {
		border: none;
		padding: 0;
		legend {
			@extend h1;
		}
		fieldset legend {
			@extend h2;
		}
		span {
			padding: 0!important;
		}
	}
}

/* This is the review order table on the checkout */
table.checkout-review { 
	.pane-title td,
	.pane-data-full {
		padding-left: 0;
	}
}

/* Checkout completion message */

.theme-checkout-completion-message {
	@extend .messages;
	@extend .messages--status;
}

/* Tweet this button at the end of the process */

.checkout-complete-tweet {
	display: inline-block;
	margin: 10px 0;
	border: solid 1px #ccc;
	border-radius: 5px;
	font-size: 17px;
	color: #333;
	padding: 5px 10px 5px 30px;
	position: relative;
	@include background-image(linear-gradient(#ffffff, #ddd));
	&:before {
		font-family: FontAwesome;
		color: #04AFE5;
		content: "\f099";
		font-size: 22px;
		display: block;
		position: absolute;
		left: 5px;
		top: 2px;
	}
	&:hover {
		color: #333;
		@include background-image(linear-gradient(#f5f5f5, #ddd));
	}
}

/* Some space around the Add Coupon button */

#edit-commerce-coupon-coupon-add {
	font-size: 25px;
	margin-bottom: 50px;
	margin-top: -20px;
}