.toboggan-unified {
  #login-message {
    display: none;
  }
  #login-links {
    text-align: left;
    border-bottom: solid 1px #ddd;
    @include clearfix;
    a {
      color: $dark-grey;
      background-color: transparent;
      border: none;
      display: inline-block;
      padding: 0 10px;
      font-size: 16px;
      &.lt-active {
        background-color: #ddd;
        border: none;
        &:hover {
          border: none;
          background-color: #ccc;
        }
      }
    }
  }
  #register-link {
    .submit-session-access-denied & {
      @include animation(colorPulse .75s 2);
      @include animation-delay(2s);
    }
  }
}

@keyframes colorPulse { 
  0% {background-color: transparent; color: #333;} 
  50% {background-color: $orange; color: white;} 
  100% {background-color: transparent; color: #333;} 
}
@-webkit-keyframes colorPulse { 
  0% {background-color: transparent; color: #333;} 
  50% {background-color: $orange; color: white;} 
  100% {background-color: transparent; color: #333;} 
}
@-moz-keyframes colorPulse { 
  0% {background-color: transparent; color: #333;} 
  50% {background-color: $orange; color: white;} 
  100% {background-color: transparent; color: #333;} 
}
