
/* =============================================================================
    Node/Add pages (especially node/add/session)
   ========================================================================== */

// Remove the bad background spinner on the autocomplete text fields.
html.js .form-autocomplete {
	background-image: none;
}

// Add session pages
.page-node-add-session {
	.tabledrag-toggle-weight-wrapper {
		display: none; // Hide the display row weights link
	}
}

// Add another speaker button 
#edit-field-speakers-und-add-more {
	font-size: 25px;
}