// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
// These are used by the zones layout, and should remain namespaced like they are
$tab: 44em; // At 44em use 12 columns.
$desk: 70em; // At 70em use 16 columns.

// Legacy from the prototype
$wide: 1700px;
$normal: 1200px;
$tablet_wide: 900px;
$tablet_wide_1: 950px;
$tablet_narrow: 700px;
$smartphone_wide: 470px;

// Mobile Navigation
$mobile-nav: 1025px;