@import "compass";

// Functions
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
@function pem($pxval, $base: 16) {
  @return strip-unit($pxval) / $base * 1em;
}

// Font Stacks
$font-heading: 'bebas_neueregular', 'arial narrow', arial, sans-serif;
$font-normal: helvetica, arial, sans-serif;
$font-narrow: 'arial narrow', arial, helvetica, sans-serif;


$font-heading: 'bebas_neueregular', 'arial narrow', arial, sans-serif;
$font-normal: helvetica, arial, sans-serif;
$font-narrow: 'arial narrow', arial, helvetica, sans-serif;

// Variables
$header-font-family: $font-heading;
$header-font-weight: normal;
$header-font-style: normal;
$header-font-color: $blue;
$header-line-height: 1.2;
/* $header-letter-spacing: -0.05em; -1px; */

$h1-font-size: pem(45px);
$h2-font-size: pem(36px);
$h3-font-size: pem(28px);
$h4-font-size: pem(24px);
$h5-font-size: pem(18px);
$h6-font-size: 1em;