/* =============================================================================
    Base Styles
   ========================================================================== */

*, *:before, *:after {
  @include box-sizing(border-box);
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: absolute !important;
  background: $blue;
  z-index: 20;
  padding: 5px 10px;
  color: white;
}
