/* =============================================================================
    Theme Zone Layouts
   ========================================================================== */

body {
  &.front{
    background-color: black;
  }
}

.l-page {
  background-color: $true-white;
}

.zone {
  &.z-navigation {
    @include transition(all 200ms ease);
    background-color: white;
    color: $white;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    min-height: 60px;
    height: 60px;
    position: fixed;
    z-index: 15;

    @include breakpoint($mobile-nav) {
      height: 100px;
    }
  }

  &.z-content {
    padding-bottom: 30px;
  }
}

.l-region--navigation {
  position: relative;
}

.l-branding {
  video {
    width: 100%;
  }

  .not-front & {
    display: none;
  }
}

.zone.z-header {
  overflow: hidden;
  margin-top: 70px;

  .not-front & {
    background-image: url("../images/fldc13_group-blur-smartphone_narrow.jpg");
    background-position: center center;

    @include breakpoint($smartphone_wide) {
      background-image: url("../images/fldc13_group-blur-smartphone_wide.jpg");
    }

    @include breakpoint($tablet_narrow) {
      background-image: url("../images/fldc13_group-blur-tablet_narrow.jpg");
    }

    @include breakpoint($tablet_wide) {
      background-image: url("../images/fldc13_group-blur-tablet_wide.jpg");
    }

    @include breakpoint($normal) {
      background-image: url("../images/fldc13_group-blur.jpg");
    }
  }

  .section-location & {
    background-image: url("../images/ftc-blur.jpg");
  }
}

.zone.z-preface {
  background-color: $turquois;
  position: relative;
  padding-top: 2em;
  margin: 20px 0;
}

.zone.z-footer {
 	background-color: $blue;
 	padding-top: 2em;
 	position: relative;

 	&:before {
   	@extend %shape--arrow__down;
   	top: 0;
   	bottom: auto;
 	}
}
