@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}


@function pem($pxval, $base: 16) {
  @return strip-unit($pxval) / $base * 1em;
}

@function emp($emval, $base: 16) {
  @return (strip-unit($emval) * $base) + 0px;
}

// Center
// Centers an element with reference to the parent element that is not position: static
//
// Note that for this to work properly, you will need to absolutely position this element before applying this mixin
//
// Params
//   $way: x (for horizontal centering), y (vertical centering), or xy (centered in both ways)
//
@mixin center($way:'xy') {
  @if $way == 'x' {
    left: 50%;
    @include transform(translateX(-50%));
  } @else if $way == 'y' {
    top: 50%;
    @include transform(translateY(-50%));
  } @else if $way == 'none' {
    top: auto;
    left: auto;
    @include transform(translate(0, 0));
  } @else {
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }
}

@mixin remove-button {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  padding: 0;
}
