// $breakpoint-no-queries: true;
// $breakpoint-no-query-fallbacks: true;

// Re-render everything from styles.scss but without media queries.
// @import "fldc14.styles";

#block-system-main-menu > .menu li {
	display: inline-block!important;
	li {
		display: block!important;
	}
}


.zone.z-header {
	background-image: url(../images/auditorium_blur_ie8.jpg)!important;
}

/* Rgba fallback */

.cta--event-register .content,
h1.page__title {
	background-image: url(../images/ie8-fallback-transparent-black.png);
}


/* Normal page title - no bg image */
h1.site-name a {
	text-indent: 0;
	background-image: none!important;
	left: 0;
}


/* This is the first name field in the exposed filter in the attendees view */
#edit-field-profile-first-value-wrapper {
	padding-right: 10px;
}

.view-cod-community-attendees .user-image {
	border: 0;
	img {
		border: solid 5px #fcb040;
	}
}


/* Messages */


.messages {
	color: white!important;
	background-image: none!important;
}

.messages--status {
	background-color: #fcb040!important;  // Orange
}

.messages--warning {
	background-color: #e4d400!important; // Yellow 
}

.messages--error {
	background-color: darkred!important;
}


/* Sponsors */

.view-cod-sponsors .wrap img {
	max-width: 999px!important;
}

/* Speakers */

.speaker-image-wrapper,
.speaker-image-wrapper img {
	width: 225px;
	height: 225px;
}
.speaker-image-wrapper {
	overflow: hidden;
}

/* max width 1100px */

.zone .l-header,
.zone .l-preface,
.zone .l-navigation,
.zone .l-main,
.zone .l-postscript,
.zone .l-footer {
	max-width: 1100px!important;
}

/* No svgs */

.ie8-hide,
.svg,
.bubble1,
.bubble2,
.bubble3,
.bubble4,
.bubble5 {
	display: none!important;
}