/* =============================================================================
    Forms
   ========================================================================== */

button {
  font-family: $font-heading;
  text-transform: uppercase;
  border: 0;
  font-size: 50px;
  cursor: pointer;
  background-color: $orange;
  color: white;  
  -webkit-appearance:none;
  @include border-radius(3px);
  @include transition(all .2s);
  &:hover {
    background-color: darken($orange, 5%);
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  padding: 10px;
  border: 0;
  background-color: #ddd;
  font-size: 18px;
  max-width: 100%;
  min-width: 300px;
  -webkit-appearance:none;
  width: 100%;
  @include breakpoint($tablet_narrow) {
    width: auto;
    max-width: 600px;
  }
  &:focus {
    background-color: #c5c5c5;
  }
}

label {
  display: block;
  &.error { // For Clientside Validation module errors
    color: red;
    &:before {
      font-family: FontAwesome;
      content: "\f119 ";
      margin-right: 5px;
    }
  }
}

form {
  .description {
    color: #999;
    font-style: italic;
    font-size: 14px;
  }
}

.form-item {
  padding: 10px 0;
}

input[type="submit"] {
  @extend button;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 40px;
  &:last-child {
    margin-right: 0;
  }
}

// Views Exposed Forms 
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
  @include breakpoint($tablet_narrow) {
    margin: 1.4em;
  }
}

.views-exposed-form .views-exposed-widget {
  float: none;
  @include breakpoint($tablet_narrow) {
    float: left;
  }
}

fieldset {
  border: 0;
  border-bottom: solid 2px $blue;
  margin-bottom: 20px;
  &:last-child {
    border-bottom: none;
    margin-bottom: 5px;
  }
}
.fieldset-legend {
  @extend h2;
}

/* Make radio buttons inline */

.form-item.form-type-radio {
  display: inline-block;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.grippie {
  display: none;
}
