body {
  font-family: $font-normal;
  line-height: 1.7;
  color: $med-grey;
  margin: 0;
}

$header-font-sizes: $h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size;

@for $i from 1 through length($header-font-sizes) {
  h#{$i} {
    // @include transition(all 200ms ease);
    font-size: nth($header-font-sizes, $i);
    font-family: $header-font-family;
    font-style:  $header-font-style;
    color:       $header-font-color;
    line-height: $header-line-height;
    /* letter-spacing: $header-letter-spacing; */
    font-weight: $header-font-weight;
    text-transform: uppercase;
    margin: .5em 0;
    
    a {
      &:link,
      &:visited {
        color: $orange;
        text-decoration: none;
      }
      
      &:hover,
      &:focus {
        color: darken($orange, 10%);
      }
      
      &:link,
      &:visited,
      &:hover,
      &:focus,
      &:active,
      &.active,
      &.active-trail {
        font-family: $header-font-family;
      }
    }
  }
}

@for $i from 3 through 6 {
  h#{$i} {
    color: $dark-grey;
    font-family: $font-narrow;
    line-height: 1.2;
  }
}

h1 {
  margin: 10px 0;
  line-height: 1.2;
  
  &.page__title {
    position: absolute;
    background-color: rgba($black, 0.7);
    color: #FCFCFC;
    margin: 0;
    padding: 0.5em 0.5em 0.5em;
    @include center(y);
    &:before {
      background-color: rgba($black, 0.7);
      content: "";
      display: inline-block;
      position: absolute;
      right: 100%;
      top: 0;
      width: 1000%;
      height: 100%;
    }
  }
}

a {
  @include transition(all 200ms ease);
  color: $orange;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: darken($orange, 10%);
  }
}

a.button {
  @extend button;
  font-size: 25px;
  padding: 10px 20px;
  &:hover {
    color: white;
  }
}

p {
  font-size: 1.1em;
  margin: 0 0 1em 0;
  &:last-child {
    margin: 0;
  }
}
li {
  font-size: 1.1em;
}


// Social Media Icons

.icon {
  position: relative;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  transition: color 800ms;
}

.icon-twitter:before,
.icon-facebook:before,
.icon-drupal:before {
  font-family: 'Social Media Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-twitter:before {
  content: "\e000";
}

.icon-facebook:before {
  content: "\e003";
}

.icon-drupal:before {
  content: "\e005";
}



